@import '../../node_modules/antd/es/style/themes/default.less';

@sider-width: 308px;
@sider-height: 100vh;
@min-content-height: calc(
  100vh - @layout-header-height - /* footer height */ 112px - @margin-md * 2
);

.wrapper {
  width: 100%;
  background: white;

  // Use single-column layout on < 768px.
  @media (max-width: @screen-sm-max) {
    position: relative;
  }

  // Use double-column layout on >= 768px.
  @media (min-width: @screen-md-min) {
    display: flex;
    align-items: stretch;
    margin: 16px auto;
    max-width: @screen-xl;
  }
}

.content {
  padding: @padding-lg @padding-xl;
  background: white;

  @media (min-width: @screen-md-min) {
    flex-grow: 1;
    max-width: calc(100vw - @sider-width);
    min-height: calc(100vh - @layout-header-height - 112px - @margin-md * 2);
  }

  @media (min-width: @screen-xl-min) {
    width: @screen-xl-min - @sider-width;
    max-width: @screen-xl-min - @sider-width;
  }

  :global(.anchor) {
    margin-left: -16px - @margin-xs;
    margin-right: @margin-xs;
    opacity: 0.3;

    transition-property: opacity;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  :global(.ant-alert),
  :global(.ant-table) {
    margin-bottom: 1rem;
  }

  :global(.ant-table) {
    overflow: auto;
    max-width: 100%;
    table {
      table-layout: auto;
    }
  }

  :global(.ant-alert) {
    padding-top: @padding-sm;
    padding-bottom: @padding-sm;

    > :global(.ant-alert-icon) {
      padding-top: @padding-xss;
    }
  }

  :global(.ant-alert-message),
  :global(.ant-table) th,
  :global(.ant-table) td {
    > :last-child {
      margin-bottom: 0;

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  :global(.ant-table) thead th {
    font-weight: bold;
  }
  :global(.ant-table) th,
  :global(.ant-table) td {
    vertical-align: top;
  }

  .footer {
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .footerElement {
      max-width: 100%;
      margin: 1rem 0 0;

      button {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .editOnGitHub {
      .footerElement;
      text-align: right;
    }

    .prevButton {
      .footerElement;
      float: left;
    }

    .nextButton {
      .footerElement;
      float: right;

      button {
        // To make ellipsis appear on the left side:
        direction: rtl;

        // Right arrow
        span:first-child {
          margin-left: @margin-xs;
        }

        // Button label
        span:last-child {
          margin-left: 0;
        }
      }
    }
  }

  :global(.remark-draw) {
    display: block;
    text-align: center;
    margin: 1rem 0;
    max-width: 100%;
    overflow: auto;
  }
}

.tocButton {
  // Show a floating ToC show/hide button for single-column layout.
  @media (max-width: @screen-sm-max) {
    position: absolute;
    z-index: @zindex-back-top - 1;
    top: 0;
    right: 0;
    left: calc(100% - 80px);
    bottom: 0;
    margin: @margin-lg @margin-md;
    text-align: right;
  }

  // Do not show a ToC show/hide button for double-column layout.
  @media (min-width: @screen-md-min) {
    display: none;
  }
}

.tocShadow {
  @media (max-width: @screen-sm-max) {
    box-shadow: @box-shadow-base;
  }
}

.tocWrapper {
  padding: @padding-lg 16px @padding-lg 0;

  @media (max-width: @screen-sm-max) {
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: 0;

    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    padding-right: 0;

    transition-property: opacity;
    transition-duration: 0.3s;

    // These two properties are overridden dynamically.
    display: none;
    opacity: 0;

    nav {
      background: white;
      padding-top: 1rem;
    }
  }

  @media (min-width: @screen-md-min) {
    flex-basis: @sider-width;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .pageToC {
    > :global(.toc-list) {
      overflow: hidden;
      position: relative;
      font-weight: bold;
      font-size: @font-size-base;

      @media (max-width: @screen-sm-max) {
        padding-left: @padding-md;
      }

      @media (min-width: @screen-md-min) {
        padding-left: @padding-xl;
      }

      :global(.toc-list) {
        margin: 0;
        padding-left: 0;
        font-weight: normal;

        :global(.toc-list) {
          padding-left: @padding-md;
          font-size: @font-size-sm;
        }
      }
    }
  }

  li {
    list-style: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: @screen-sm-max) {
      width: calc(100vw - 64px);
      li {
        width: calc(100vw - 64px);
        li {
          width: calc(100vw - 64px - @padding-md);
          li {
            width: calc(100vw - 64px - @padding-md * 2);
          }
        }
      }
    }

    @media (min-width: @screen-md-min) {
      width: @sider-width - @padding-xl * 2;
      li {
        width: @sider-width - @padding-xl * 2;
        li {
          width: @sider-width - @padding-xl * 2 - @padding-md;
          li {
            width: @sider-width - @padding-xl * 2 - @padding-md * 2;
          }
        }
      }
    }
  }

  :global(.toc-link) {
    color: @text-color;
    height: 100%;

    &:hover {
      color: @link-hover-color;
    }
  }

  :global(.toc-link::before) {
    background-color: @border-color-base;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    position: absolute;
    width: 2px;
  }

  :global(.is-active-link::before) {
    background-color: @armeria-magenta;
  }

  :global(.is-collapsible) {
    max-height: 1000px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  :global(.is-collapsed) {
    max-height: 0;
  }

  :global(.is-active-link) {
    font-weight: bold;
  }

  :global(.ant-select) {
    @media (max-width: @screen-sm-max) {
      margin: 0 @margin-md @margin-md;
      width: calc(100% - @margin-md * 2);
    }

    @media (min-width: @screen-md-min) {
      margin: 0 0 0 @margin-xl;
      width: @sider-width - @margin-xl * 2;
    }
  }
}
