@import '../../node_modules/antd/es/style/themes/default.less';

@sider-width: 256px;
@sider-wrapper-width: @sider-width + @margin-md * 2;
@sider-height: 100vh;
@min-content-height: calc(
  100vh - @layout-header-height - /* footer height */ 112px - @margin-md * 2
);

.wrapper {
  width: 100%;

  .tocWrapper {
    .tocInnerWrapper {
      width: 100%;
      overflow: hidden;

      .toc {
        max-height: 100vh;
        overflow: auto;
        padding: @padding-md;
        background: white;

        // Use thinner scrollbar for ToC overflow.
        scrollbar-width: thin;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: @border-color-base;
        }

        .tocTree {
          margin-left: -@margin-md;
          padding-top: @padding-xs;
          width: calc(100% + @margin-md);

          @indent-unit: 12px;
          :global(.ant-tree-indent-unit) {
            width: @indent-unit;
          }

          :global(.ant-tree-switcher) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: @font-size-base + 5px;
            padding-left: 5px;
            padding-top: 1px;
          }

          :global(.ant-tree-switcher),
          :global(.ant-tree-node-content-wrapper) {
            min-height: 0;
            height: 1.5715em;
            line-height: 1.5715em;
          }

          .tocDepth1,
          .tocDepth2,
          .tocDepth3,
          .tocDepth4 {
            line-height: 100%;
            :global(.ant-tree-title) {
              white-space: nowrap;
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .tocDepth1 {
            font-weight: bold;
            :global(.ant-tree-title) {
              width: 256px - @padding-md * 2;
            }
          }

          .tocDepth2 {
            font-size: @font-size-sm;
            :global(.ant-tree-title) {
              width: 256px - @padding-md * 2 - @indent-unit;
            }
          }

          .tocDepth3 {
            font-size: @font-size-sm - 2px;
            :global(.ant-tree-title) {
              width: 256px - @padding-md * 2 - @indent-unit * 2;
            }
          }

          .tocDepth4 {
            font-size: @font-size-sm - 2px;
            color: @text-color-secondary;
            :global(.ant-tree-title) {
              width: 256px - @padding-md * 2 - @indent-unit * 3;
            }
          }
        }
      }
    }
  }

  .content {
    padding: 24px 32px;
    background: white;

    :global(.anchor) {
      margin-left: -16px - @margin-xs;
      margin-right: @margin-xs;
      opacity: 0.3;

      transition-property: opacity;
      transition-duration: 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    :global(.ant-alert),
    :global(.ant-table) {
      margin-bottom: 1rem;
    }

    :global(.ant-alert) {
      padding-top: @padding-sm;
      padding-bottom: @padding-sm;

      > :global(.ant-alert-icon) {
        padding-top: @padding-xss;
      }
    }

    :global(.ant-alert-message),
    :global(.ant-table) th,
    :global(.ant-table) td {
      > :last-child {
        margin-bottom: 0;

        > :last-child {
          margin-bottom: 0;
        }
      }
    }

    :global(.ant-table) thead th {
      font-weight: bold;
    }
    :global(.ant-table) th,
    :global(.ant-table) td {
      vertical-align: top;
    }

    .footer {
      height: 7rem;

      .editOnGitHub {
        text-align: right;
      }

      .prevButton {
        float: left;
      }

      .nextButton {
        float: right;
      }
    }

    :global(.remark-draw) {
      display: block;
      text-align: center;
      margin: 1rem 0;
      max-width: 100%;
      overflow: auto;

      img {
        width: auto;
        max-width: auto;
        max-width: 100%;
      }
    }
  }
}
