@import '../../node_modules/antd/es/style/themes/default.less';

.wrapper {
  position: relative;
  z-index: @zindex-back-top - 1;
  background: @layout-header-background;
  width: 100%;
  overflow: hidden;
  padding: 0 @padding-lg;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;

  @media (max-width: @screen-sm-max) {
    width: 100%;
  }

  @media (min-width: @screen-md-min) {
    width: @layout-max-width;
  }
}

.logo {
  flex-grow: 0;
  height: @layout-header-height;
  margin-right: 2.5rem;
}

.menu {
  flex-grow: 1;
  line-height: @layout-header-height;
  text-align: right;
  overflow: hidden;
  background-color: @armeria-darkgray;

  // Add space for Github corners.
  @media (min-width: @screen-md-min) {
    padding-right: 80px;
  }
}

:global(.ant-menu) {
  background-color: @armeria-darkgray !important;
}
